@{
    Layout = null;
    ViewBag.Title = "Registro";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Content/images/favicon.ico">

    <title>RSG-CRM - Registro de Usuario</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")">

    <!-- Vendors Style-->
    <link rel="stylesheet" href="~/Content/css/vendors_css.css">

    <!-- Style-->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/skin_color.css">

</head>

<body class="hold-transition theme-primary bg-img" style="background-image: url(@Url.Content("~/Content/images/auth-bg/bg-16.jpg"))">

    <div class="container h-p100">
        <div class="row align-items-center justify-content-md-center h-p100">

            <div class="col-12">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-5 col-md-5 col-12">
                        <div class="bg-white rounded10 shadow-lg">
                            <div class="content-top-agile p-20 pb-0">
                                <h2 class="text-primary fw-600">&Uacute;nete a Nosotros</h2>
                                <p class="mb-0 text-fade">Crea una nueva cuenta de CRM</p>
                            </div>
                            <div class="p-40">
                                @if (ViewBag.Error != null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @ViewBag.Error
                                    </div>
                                }
                                <form action="@Url.Action("Registro", "Autenticacion")" method="post">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-transparent"><i class="text-fade ti-user"></i></span>
                                            <input type="text" name="nombreCompleto" class="form-control ps-15 bg-transparent" placeholder="Nombre Completo" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-transparent"><i class="text-fade ti-email"></i></span>
                                            <input type="email" name="correo" class="form-control ps-15 bg-transparent" placeholder="Correo Electr&oacute;nico" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-transparent"><i class="text-fade ti-lock"></i></span>
                                            <input type="password" name="password" class="form-control ps-15 bg-transparent" placeholder="Contrase&ntilde;a" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-transparent"><i class="text-fade ti-lock"></i></span>
                                            <input type="password" name="confirmPassword" class="form-control ps-15 bg-transparent" placeholder="Confirmar Contrase&ntilde;a" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <button type="submit" class="btn btn-primary w-p100 mt-10">REGISTRARSE</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="text-center">
                                    <p class="mt-15 mb-0 text-fade">&iquest;Ya tiene una cuenta? <a href="@Url.Action("Login", "Autenticacion")" class="text-primary ms-5">Iniciar Sesi&oacute;n</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Vendor JS -->
    <script src="~/Content/js/vendors.min.js"></script>
    <script src="~/Content/assets/icons/feather-icons/feather.min.js"></script>

</body>
</html>




